{% extends 'base.html' %}

<title>{% block title %}News{% endblock %}</title>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% block content %}

    <div class="grey_page">
		{% include 'menu.html' %}
		<div class="main_div">
			<div class="main_inside">
				<p class="main_title">news</p>
				<p class="main_title2">last publications</p>
			</div>
			<img src="{% static 'home/images/main_block.png' %}" class="main_block">
		</div>
	</div>

    {% for post in posts %}

        <div class="news_post">
            <div class="news_post_author_and_pubdate_div">
                <a class="news_post_author" href="{% url 'accounts:users' post.author.id %}">{{ post.author.username }}</a>
                <p class="news_post_pubdate">&nbsp&nbsp{{ post.pubdate|date:"d.m.y" }}</p>
            </div>
            <div class="news_post_text_div">
                <div class="news_post_text_div__inner">
                    <p class="news_post_text">{{ post.text }}</p>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}