*{
	padding: 0;
	margin: 0;
	font-family: 'Comfortaa', cursive;
}
html, body{
	height: 100%;
	background-color: #303030;
}
.menu_buttons{
	width: 96%;
	height: 94px;
	border: solid #6d25c4;
	border-radius: 10px;
	background-color: #373737;
	margin-left: 35px;
	margin-top: 22px;
	-webkit-box-shadow:0 0 20px #000; box-shadow:0 0 20px #000;
}
.main_div{
	width: 96%;
	height: 300px;
	margin-left: 35px;
	margin-top: 22px;
	border-radius: 10px;
	background-color: #373737;
	border: solid #6d25c4;
	-webkit-box-shadow:0 0 20px #000; box-shadow:0 0 20px #000;
}
.main_title{
	color: #ffffff;
	font-size: 72px;
	font-weight: 400;

	padding-top: 90px;
	padding-left: 134px;
	transition: 0.5s;
}
.main_title2{
	color: #ffffff;
	font-family: Verdana;
	font-size: 24px;
	font-weight: 400;
	padding-left: 141px;
}
.main_block{
	float: right;
	padding-top: 15px;
	padding-right: 15px;
	height: 250px;
	margin-right: 100px;
}
.main_inside{
	float: left;
}
.menu_button{
	float: left;
	transition: 0.5s;
	background-color: #373737;
	height: 50px;
	width: 150px;
	margin-top: 20px;
	margin-left: 50px;
	border-radius: 20px;
	text-align: center;
}
.menu_button:hover{
	background-color: #7a7a7a;
}
.text_button{
	font-size: 20px;
	color: #bcbcbc;
	text-decoration: none;
	line-height: 2.5em;
}
.profile_avatar_div{
	width: 250px;
	height: 250px;
	border: white;
	border-radius: 150px;
	margin-top: 25px;
	margin-left: 50px;
	float: left;
}
.profile_username{
	color: white;
	padding-top: 70px;
	margin-left: 350px;
}
.profile_description{
	color: white;
	margin-left: 350px;
}
.profile_post{
	width: 96%;
	height: 250px;
	margin-left: 35px;
	margin-top: 50px;
	border-radius: 10px;
	background-color: #373737;
	border: solid #6d25c4;
	-webkit-box-shadow:0 0 20px #000; box-shadow:0 0 20px #000;
}
.profile_post_avatar_div{
	width: 75px;
	height: 75px;
	border: white;
	border-radius: 150px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.profile_post_author{
	text-decoration: none;
	font-size: 20px;
	margin-left: 10px;
	color: #bcbcbc;
}
.profile_post_pubdate{
	color: #bcbcbc;
}
.profile_post_author_and_pubdate_div {
	padding: 20px;
	color: #bcbcbc;
}
.profile_post_text{
	padding: 20px;
	color: #bcbcbc;
}

.profile_post_text_div{
    overflow: hidden;
    height: 150px;
    width: 90%;
}

.profile_post_text_div__inner{
    -webkit-column-width: 150px;
    -moz-column-width: 150px;
    column-width: 1000px;
    height: 100%;
}



.news_post{
	width: 96%;
	height: 250px;
	margin-left: 35px;
	margin-top: 50px;
	border-radius: 10px;
	background-color: #373737;
	border: solid #6d25c4;
	-webkit-box-shadow:0 0 20px #000; box-shadow:0 0 20px #000;
}
.news_post_avatar_div{
	width: 75px;
	height: 75px;
	border: white;
	border-radius: 150px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.news_post_author{
	text-decoration: none;
	font-size: 20px;
	margin-left: 10px;
	color: #bcbcbc;
}
.news_post_pubdate{
	color: #bcbcbc;
}
.news_post_author_and_pubdate_div {
	padding: 20px;
}
.news_post_text{
	padding: 20px;
	color: #bcbcbc;
}

.news_post_text_div{
    overflow: hidden;
    height: 150px;
    width: 90%;
}

.news_post_text_div__inner{
    -webkit-column-width: 150px;
    -moz-column-width: 150px;
    column-width: 1000px;
    height: 100%;
}
.news_post_text_div__inner{
    -webkit-column-width: 150px;
    -moz-column-width: 150px;
    column-width: 1000px;
    height: 100%;
}



.other_profile_avatar_div{
	width: 250px;
	height: 250px;
	border: white;
	border-radius: 150px;
	margin-top: 25px;
	margin-left: 50px;
	float: left;
}
.other_profile_username{
	color: white;
	padding-top: 70px;
	margin-left: 350px;
}
.other_profile_description{
	color: white;
	margin-left: 350px;
}
.other_profile_post{
	width: 96%;
	height: 250px;
	margin-left: 35px;
	margin-top: 50px;
	border-radius: 10px;
	background-color: #373737;
	border: solid #6d25c4;
	-webkit-box-shadow:0 0 20px #000; box-shadow:0 0 20px #000;
}
.other_profile_post_avatar_div{
	width: 75px;
	height: 75px;
	border: white;
	border-radius: 150px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.other_profile_post_author{
	text-decoration: none;
	font-size: 20px;
	margin-left: 10px;
	color: #bcbcbc;
}
.other_profile_post_pubdate{
	color: #bcbcbc;
}
.other_profile_post_author_and_pubdate_div {
	padding: 20px;
	color: #bcbcbc;
}
.other_profile_post_text{
	padding: 20px;
}

.other_profile_post_text_div{
    overflow: hidden;
    height: 150px;
    width: 90%;
	color: #bcbcbc;
}

.other_profile_post_text_div__inner {
	-webkit-column-width: 150px;
	-moz-column-width: 150px;
	column-width: 1000px;
	height: 100%;
}
.register_background{
	background-color: #373737;
	width: 100%;
	min-height: 100%;
}
.register_logo{
	font-size: 64px;
	color: white;
	text-align: center;
	padding-top: 200px;
	text-transform: uppercase;
}
.email_form{
	font-size: 36px;
	border: white;
	border-radius: 20px;
	margin-top: 30px;
	margin-left: 153px;
	outline:none;
}
.username_form{
	font-size: 36px;
	border: white;
	border-radius: 20px;
	margin-top: 30px;
	margin-left: 76px;
	outline:none;
}
.password_form{
	font-size: 36px;
	border: white;
	border-radius: 20px;
	margin-top: 30px;
	margin-left: 85px;
	outline:none;
}
.password2_form{
	font-size: 36px;
	border: white;
	border-radius: 20px;
	margin-top: 30px;
	margin-left: 40px;
	outline:none;
}
.register_button{
	margin-left: 40%;
	height: 100px;
	width: 400px;
	background-color: white;
	border: white;
	border-radius: 20px;
	margin-top: 100px;
	font-size: 48px;
	text-transform: uppercase;
}
label{
	font-size: 36px;
	color: white;
	margin-left: 25%;
}
.login_background{
	background-color: #373737;
	width: 100%;
	min-height: 100%;
}
.login_logo{
	font-size: 64px;
	color: white;
	text-align: center;
	padding-top: 200px;
	text-transform: uppercase;
}
.login_button{
	margin-left: 40%;
	height: 100px;
	width: 400px;
	background-color: white;
	border: white;
	border-radius: 20px;
	margin-top: 100px;
	font-size: 48px;
	text-transform: uppercase;
}