{% load static %}

		<div class="menu_buttons">
            {% if request.user.is_authenticated %}
                <div class="menu_button"><a href="{% url 'posts:news' %}" class="text_button">news</a></div>
                <div class="menu_button"><a href="{% url 'accounts:profile' %}" class="text_button">profile</a></div>
                <div class="menu_button"><a href="{% url 'accounts:logout' %}" class="text_button">logout</a></div>
                <div class="menu_button"><a href="{% url 'posts:post_create' %}" class="text_button">create</a></div>
		</div>
            {% else %}
                <div class="menu_button"><a href="{% url 'accounts:login' %}" class="text_button">login</a></div>
                <div class="menu_button"><a href="{% url 'accounts:register' %}" class="text_button">sign up</a></div>
        </div>
            {% endif %}