{% extends 'base.html' %}

<title>{% block title %}Home{% endblock %}</title>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% block content %}

    <div class="grey_page">
		{% include 'menu.html' %}
		<div class="main_div">
			<div class="main_inside">
				<p class="main_title">upvote</p>
				<p class="main_title2">international service</p>
			</div>
			<img src="{% static 'home/images/main_block.png' %}" class="main_block">
		</div>
	</div>

{% endblock %}