{% extends 'base.html' %}

<title>{% block title %}{{ user.username }}{% endblock %}</title>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% block content %}

    {% include 'menu.html' %}


    <div class="main_div">
    <img src="{{ user.avatar.url }}" class="profile_avatar_div">
    <h1 class="profile_username">{{ user.username }}</h1>
    <p class="profile_description">{{ user.description }}</p>
    </div>


    {% for post in user_posts %}

        <div class="profile_post">
            <img class="profile_post_avatar_div" src="{{ user.avatar.url }}"</img>
            <div class="profile_post_author_and_pubdate_div">
                <a class="profile_post_author" href="{% url 'accounts:users' post.author.id %}">{{ post.author.username }}</a>
                <p class="profile_post_pubdate">&nbsp&nbsp{{ post.pubdate|date:"d.m.y" }}</p>
            </div>
            <div class="profile_post_text_div">
                <div class="profile_post_text_div__inner">
                    <p class="profile_post_text">{{ post.text }}</p>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}